.loginConatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0;
}

.divideWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0px 10px;
  }

  div {
    border-bottom: 0.5px solid black;
    width: 100%;
    background-color: black;
  }
}

.registerButtonWrapper {
  span {
    margin-right: 10px;
  }
}
