.wrapper {
  display: flex;
  align-items: center;
  font-size: 20px;

  @media screen and (max-width: $media-tablet) {
    font-size: 20px;
  }

  @media screen and (max-width: $media-phone) {
    font-size: 12px;
  }

  & > div {
    width: 18px;
    margin: 0px 12px;
  }

  & > svg {
    margin: 0px 12px;
  }
}
