$lines: 16;
$delayandduration: 4;

.mainPageTitle {
  margin: 24px 0px;
  font-size: 32px;
}

.imageContainer {
  width: 100%;
  max-width: 80px;
  min-width: 66px;
  border-radius: 10px;
  border: 1px solid $back-color-main;
  overflow: hidden;

  & > span {
    position: unset !important;

    & > img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  // &:hover {
  //   border: 1px solid $font-color-main;
  // }
}

.imageSquareContainer {
  width: 100%;
  overflow: hidden;
  border: 1px solid $back-color-main;
  position: static;

  & > span {
    position: unset !important;

    & > img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}

.imageCircleContainer {
  width: 100%;

  border-radius: 100%;
  overflow: hidden;
  border: 1px solid $back-color-main;

  & > span {
    position: unset !important;

    & > img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}

.imageSmallCircleContainer {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  border-radius: 100%;
  overflow: hidden;

  & > span {
    position: unset !important;

    & > img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }
}

.sectionMain {
  margin: 0px auto;
  margin-top: calc(40px + 3vw + 1vw);
  height: 100%;
  // width: 100%;
  min-height: calc(100vh - 200px - 25px);
  //min-height: calc(100vh + 20px);
  max-width: 1024px;
  padding: 0px 4vw;

  & > div {
    width: 100%;
  }

  @media screen and (max-width: 735px) {
    padding: 0px 1vw;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexInlinCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.clickable {
  cursor: pointer;
}

.ableButton {
  background-color: white;
}

.isActiveColor {
  color: $font-color-main;
}

.hidden {
  display: none;
}

.disabledClickButton {
  background-color: gray;
}

.button {
  background-color: white;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
  color: black;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 12px 7px;

  &:hover {
    background-color: black;
    color: white;
  }

  span {
    margin-left: 10px;
  }
}

.input {
  padding: 0.1rem;
  padding-left: 0.55rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
  height: calc(1.1em + 2px);

  @media screen and (max-width: $media-phone) {
    height: 32px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    width: 100%;
  }
}

.input:focus {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > label {
    font-size: 16px;
  }

  & > input {
    height: 32px;
    margin: 8px 0px;
  }

  & > button {
    margin: 8px 0px;
  }

  @media screen and (max-width: $media-phone) {
    font-size: 12px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.errorFormWrapper {
  min-height: 25px;
  display: flex;
  align-items: center;
}

.noBorder {
  border: 1px solid white;
  transition: all 0.5s ease in-out;

  &:hover {
    border: 1px solid #22bad9;
  }
}

.portalContainer {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 100;
}

.alertWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: calc(320px * 9 / 16);
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;

  & > span {
    &:first-child {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    &:nth-child(2) {
      font-weight: 400;
      font-size: 13px;
    }
  }

  & > div {
    display: flex;
    margin-top: 20px;

    button {
      border: 1px solid $back-color-main;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $back-color-main;
        color: $font-color-main;
      }

      &:first-child {
        margin-right: 8px;
      }
    }
  }
}

.noStory {
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 0px;
}

.modalContainer {
  position: relative;

  border: 1px solid $back-color-main;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  padding: 28px;
  // border-radius: 12px;

  & > button {
    width: 40px;
    height: 40px;
    right: 15px;
    top: 15px;

    &:hover {
      color: $font-color-main;
    }
  }
}

.modalInputWrapper {
  display: flex;
  flex-direction: column;

  & > label {
    font-size: 16px;
  }

  & > input {
    height: 24px;
    margin: 8px 0px;
  }

  & > button {
    margin: 8px 0px;
  }
}

.modalButtonWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;

  & > div {
    display: flex;
    &:first-child {
      margin-bottom: 4px;
    }

    & > button {
      margin: 0px;

      &:first-child:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}

.smallCircleProfileWrapper {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}

.gridImage {
  width: 100%;
  overflow: hidden;
  height: 100%;

  & > span {
    position: unset !important;
    height: 100%;

    & > img {
      width: 100% !important;
      height: 100%;
      position: relative !important;
      height: unset !important;
    }
  }
}

.container {
  width: 100%;
  margin-top: 12px;

  @media screen and (max-width: $media-phone) {
    margin-top: 0px;
  }
}
