.profileContainer {
  height: fit-content;
  position: relative;
  border: 1px solid #efeff0;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid #22bad9;
  }
}

.profileImage {
  border-radius: 100%;
}

.popupProfileText {
  width: 100%;
  background-color: white;

  & > span {
    width: 170px;
    text-align: center;
    font-size: 20px;
    padding: 0px 1vw;
    border-radius: 2px;

    &:hover {
      color: #22bad9;
      background-color: #efeff0;
    }
  }
}

@keyframes slideOut {
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
  0% {
    transform: translateY(10px);
    opacity: 100;
  }
}

.popupWrapper {
  border: 1px solid #efeff0;
}

.unvisibleProfile {
  visibility: hidden;
  width: 0px;
  height: 0px;

  span {
    width: 0px;
    height: 0px;
    font-size: 0px;
  }
}

.loginText {
  font-size: 1vw;
  border: 1px solid #efeff0;
  border-radius: 2px;
  padding: 1vw;
  color: black;

  &:hover {
    background-color: #efeff0;
    color: #22bad9;
  }
}
