.titleTextContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
  top: calc(
    (20vh - 40px - 3vw - 1vw) / 2
  ); //(화면크기 - GNB높이)  의 나누기 2의 값
  width: 100%;
  background-color: transparent;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    background-color: white;

    & > h1 {
      margin: 1.2rem 0px;
      color: black;
      z-index: 2;

      &:last-child {
        text-decoration: underline;
        font-weight: 600;
      }

      @media screen and (max-width: $media-phone) {
        margin: 1.2vw 0px;
        font-size: 1vw;
      }
    }
  }
}

.headerCard {
  width: 50%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;

  & > a {
    &:nth-child(13n - 12),
    &:nth-child(13n - 11) {
      grid-column: auto/span 2;
      grid-row: auto/span 2;
    }
    &:nth-child(13n - 12) {
      margin-right: -1vw;
    }
    &:nth-child(13n - 11) {
      margin-left: -1vw;
    }

    &:nth-child(13n + 3),
    &:nth-child(13n + 4),
    &:nth-child(13n + 5),
    &:nth-child(13n + 6) {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
    }

    &:nth-child(13n + 7),
    &:nth-child(13n + 8) {
      grid-column: auto/span 2;
      grid-row: auto/span 2;
    }
    &:nth-child(13n + 9),
    &:nth-child(13n + 10) {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
    }

    &:nth-child(13n + 12),
    &:nth-child(13n + 13) {
      grid-column: auto/span 1;
      grid-row: auto/span 1;
    }

    &:nth-child(13n + 11) {
      grid-column: auto/span 2;
      grid-row: auto/span 2;
    }
  }
}
