.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, calc((100%) / 2 - 1.2vw * 1));
  row-gap: 1.2vw;
  column-gap: 1.2vw;
  margin-top: 44px;

  @media screen and (max-width: $media-phone) {
    grid-template-columns: repeat(1, calc((100%)));
  }
}

.cardWrapper {
  border: 1px solid $back-color-main;

  & > a {
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
  }
}

.cardTextWrapper {
  padding: 12px 0px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & > span {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    line-clamp: 2;
    white-space: nowrap;
    width: calc(220px);
    @media screen and (max-width: $media-tablet) {
      width: calc(186px);
    }

    @media screen and (max-width: $media-phone) {
      width: calc(168px);
    }
  }
}

.cardTitleWrapper {
  & > h2,
  h4 {
    margin: 4px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    line-clamp: 2;
    white-space: nowrap;
    width: calc(220px);

    @media screen and (max-width: $media-tablet) {
      width: calc(186px);
    }

    @media screen and (max-width: $media-phone) {
      width: calc(168px);
    }
  }
}

.moreButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;

  & > h1 {
    font-size: 18px;
    font-weight: 800;
  }

  a {
    font-size: 12px;
  }
}
