.commentBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 40px;

    & > input {
      min-width: calc(100% - 80px - 10vw);
      height: 100%;
    }

    & > button {
      width: 48px;
      height: 48px;
      margin: 0px;
    }

    @media screen and (max-width: $media-phone) {
      & > input {
        height: 80%;
      }

      & > button {
        width: 32px;
        height: 32px;
        // margin: 0px;
      }
    }
  }
}

.commentsWrapper {
  width: 100%;
  padding: 0px;
  margin-top: 12px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vh 0;
  border-bottom: 1px solid $back-color-main;
  padding: 1vh 0;

  & > .profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & > span {
    margin: 0px 12px;
    white-space: pre-line;
    width: 100%;
  }
  & > textarea {
    min-height: 40px;
    min-width: calc(100% - 80px - 10vw);
    resize: vertical;
  }

  @media screen and (max-width: $media-phone) {
    & > span {
      margin: 0px 8px;
    }
  }
}

.buttonSpace {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;

  & > button {
    width: 38px;
    height: 38px;
    margin: 0px;
    border-radius: 100%;

    &:first-child {
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: $media-phone) {
    & > button {
      width: 24px;
      height: 24px;
      margin: 0px;

      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
}
