.navConatiner {
  margin-top: 2px;
  height: 50px;
  padding: 0 5vw;
  // padding: 0rem 5rem;

  a {
    // border: 1px solid white;
    height: 100%;
    font-size: 1.7vw;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: calc(100% / 5 - 10vw);
    transition: all 0.15s ease-in-out;
    color: black;

    &:hover {
      color: #22bad9;
    }
  }
}

.headerContainer {
  background-color: white;
  border-bottom: 1px solid #efeff0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  & > div:first-child {
    margin: 10px 0;
  }

  h1 {
    font-size: 3vw;
    width: fit-content;
    text-align: center;
  }

  h4 {
    font-size: 1vw;
    margin: 0;
  }
}
