.navContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 512px;
  height: 100%;
  border-right: 1px solid black;
  background-color: white;
  z-index: 100;

  a {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: black;
    text-decoration: none;

    @media screen and (max-width: 1024px) {
      font-size: 25px;
    }
    // border-top: 1px solid gray;

    &:hover {
      background-color: #efeff0;
    }
  }
}

.headerContainer {
  // width: 100%;
  background-color: white;
  border-bottom: 1px solid #efeff0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(20px + 20px + 3vw + 1vw);
  padding: 0 4vw;

  & > div:first-child {
    margin: 10px 0;
  }

  h1 {
    font-size: 3vw;
    width: fit-content;
    text-align: center;
  }

  h4 {
    font-size: 1vw;
    margin: 0;
  }
}

.isActive {
  text-decoration: underline !important;
  color: #22bad9 !important;
}
@keyframes slideIn {
  100% {
    transform: translateX(0);
    opacity: 100;
  }
  0% {
    transform: translateX(-5px);
    opacity: 0;
  }
}

@keyframes slideOut {
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
  0% {
    transform: translateX(0);
    opacity: 100;
  }
}

.popupWrapper {
  border: 1px solid #efeff0;
}

.visible {
  visibility: visible;
  transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  animation-name: slideIn;
}

.invisible {
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  animation-name: slideOut;
}
