.navConatiner {
  margin-top: 2px;
  height: 50px;
  padding: 0 5vw;
  // padding: 0rem 5rem;

  a {
    // border: 1px solid white;
    height: 100%;
    font-size: 1.7vw;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: calc(100% / 5 - 10vw);
    transition: all 0.15s ease-in-out;
    color: black;

    &:hover {
      color: #22bad9;
    }
  }
}

.headerContainer {
  background-color: white;
  border-bottom: 1px solid #efeff0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: calc(20px + 20px + 3vw + 1vw);
  padding: 0 4vw;

  & > div:first-child {
    margin: 10px 0;
  }

  h1 {
    font-size: 3vw;
    width: fit-content;
    text-align: center;
  }

  h4 {
    font-size: 1vw;
    margin: 0;
  }
}

.burgerButtonContainer {
  border: none;
  width: 4vw;
  height: 4vw;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid white;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  div {
    border-bottom: 0.2vw solid black;
    width: 100%;
    margin: 2px 0px;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    div {
      border-bottom: 0.2vw solid #22bad9;
    }
  }
}
