.profileContainer {
  height: fit-content;
  position: relative;
}

.profileImage {
  border: 1px solid #efeff0 !important;
  border-radius: 100%;
}

.profileWrapper {
  position: relative;
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
    opacity: 100;
  }
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes slideOut {
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
  0% {
    transform: translateY(10px);
    opacity: 100;
  }
}

.popupWrapper {
  border: 1px solid #efeff0;
}

.visibleProfile {
  visibility: visible;
  position: absolute;
  transition: all 0.3s ease-in-out;
  animation-duration: 0.6s;
  animation-name: slideIn;
}

.unvisibleProfile {
  visibility: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out;
  animation-duration: 0.6s;
  animation-name: slideOut;
}
