.tempContainer {
  position: absolute;
  top: 0px;
  left: -250px;

  @media screen and (max-width: 600px) {
    position: static;
  }
}

.backButton {
  display: flex-inline;
  justify-content: center;
  width: 99%;
  font-weight: 700;
  padding: 8px 4px;
  border-top: 1px solid $back-color-main;
  text-align: center;
  transition: all 0.5s ease-in-out;

  &:hover {
    font-size: 20px;
  }
}

.tempWrapper {
  border: 1px solid $back-color-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 224px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  & > ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;

    & > li {
      border: 1px solid white;
      width: 99%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      text-overflow: ellipsis;

      cursor: pointer;

      & > div {
        padding: 8px 4px;
        width: 99%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        & > button {
          font-size: 20px;
          &:hover {
            color: $font-color-main;
          }
        }

        & > span {
          width: 180px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          transition: all 0.2s ease-in-out;

          &:hover {
            white-space: pre-wrap;
            color: $font-color-main;
          }
        }
      }

      &:hover {
        border-top: 1px solid $back-color-main;
        border-bottom: 1px solid $back-color-main;

        &:last-child {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
