.container {
  width: 100%;
  margin-top: 44px;

  @media screen and (max-width: $media-phone) {
    margin-top: 0px;
  }
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-bottom: 1px solid $back-color-main;
  border-radius: 20px;
  padding: 20px;

  & > div {
    display: flex;
  }
}

.userInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & > button {
    width: 94px;
    height: 30px;
  }

  @media screen and (max-width: $media-phone) {
    padding-bottom: 20px;
    border-bottom: 1px solid $back-color-main;
  }
}

.userInfoWrapper {
  display: flex;
  align-items: flex-start;

  & > div:nth-child(2) {
    margin-left: 50px;

    @media screen and (max-width: $media-phone) {
      justify-content: center;
      margin-left: 12px;
    }
  }
}

.userInfoBioWrapper {
  display: flex;
  flex-direction: column;

  & > a {
    color: $font-color-main;

    &:hover {
      color: $back-color-main;
    }
  }

  @media screen and (max-width: $media-phone) {
    width: $userpage-profile-size / 1.4;
    height: $userpage-profile-size / 1.4;
    h4,
    h2 {
      margin: 0px;
      width: 114px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    a {
      width: 114px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.userInfoModifyButtonWrapper {
  display: flex;

  & > input {
    height: 24px;
    margin: 5px 0px;
    width: 100%;
  }

  & > button {
    height: 30px;
    margin: 5px 0px;
    margin-left: 8px;
  }
}

.userImageWrapper {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  border: 1px solid $back-color-main;
  border-radius: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &:hover {
    border: 1px solid black;
  }

  & > input {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: $userpage-profile-size;
    width: $userpage-profile-size/2;
    background: transparent;
    background-color: transparent;
    opacity: 0;
    border: 1px solid white;
    border-bottom-right-radius: $userpage-profile-size * 2;
    border-top-right-radius: $userpage-profile-size * 2;
    width: $userpage-profile-size/2;
    box-sizing: border-box;
    background-color: black;
  }

  & > button {
    position: absolute;
    border: 1px solid white;
    height: $userpage-profile-size;
    width: $userpage-profile-size/2;
    box-sizing: border-box;
    border-bottom-left-radius: $userpage-profile-size * 2;
    border-top-left-radius: $userpage-profile-size * 2;
    left: 0px;
  }

  @media screen and (max-width: $media-phone) {
    width: $userpage-profile-size / 1.4;
    height: $userpage-profile-size / 1.4;
  }
}

.userContentsContainer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.userButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 1px solid black;

  & > button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: calc(100% / 3 - 0px);
    border-right: 1px solid $back-color-main;
    color: black;
    transition: all 0.3s ease-in-out;

    & > span {
      margin-top: 24px;

      @media screen and (max-width: 735px) {
        display: none;
      }
    }

    &:hover {
      border-right: 1px solid $font-color-main;
      color: $font-color-main;
    }
    @media screen and (max-width: 735px) {
      width: 27px;
      display: static;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }

  @media screen and (max-width: 735px) {
    margin-bottom: 3px;
  }

  @media screen and (min-width: 736px) {
    margin-bottom: 28px;
  }
}

.userContentsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.isActive {
  border-right: 1px solid $font-color-main !important;
  color: $font-color-main !important;
}

.noStory {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 735px) {
    min-width: calc(124px * 3 + 3px * 2);
    min-height: calc(124px * 3 + 3px * 3);
    font-size: 32px;
  }

  @media screen and (min-width: 736px) {
    min-width: calc(293px * 3 + 28px * 2);
    max-width: calc(293px * 3 + 28px * 2 + 6px);
    min-height: calc(293px * 3 + 28px * 3);
    font-size: 52px;
  }
}

.userJoinCrewContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 24px;
  align-items: stretch;
  flex-direction: column;

  & > ul {
    display: flex;
  }

  @media screen and (max-width: 735px) {
    margin-top: 8px;
  }
}

.userJoinCrewWrapper {
  margin-right: -20px;
  position: relative;
  border: 1px solid $back-color-main;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;

  & > a {
    & > span {
      position: absolute;
      top: 0px;
      visibility: hidden;
    }
  }

  &:hover {
    margin-right: 5px;
    border: 1px solid $font-color-main;

    & > a {
      & > span {
        width: 120px;
        visibility: visible;
        top: 50px;
      }
    }
  }

  @media screen and (max-width: 735px) {
    margin-right: 12px;

    & > a {
      & > span {
        position: absolute;
        visibility: visible;
        width: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        top: 50px;
      }
    }

    &:hover {
      margin-right: 0px;
    }
  }
}

.userJoinCrewImage {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  overflow: hidden;
}

.userProfileButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  & > button {
    margin: 0px;

    &:first-child {
      margin-bottom: 16px;
    }
  }
}

//userAllContents

.userAllContentsContainer {
  width: 100%;
}

.userAllEachContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px 0px;
  position: relative;

  & > div {
    display: flex;
    align-items: center;
  }
}

.userAllEachContentsTitle {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  font-size: 16px;

  & > a {
    margin-top: 4px;
    color: $font-color-main;
    text-decoration: none;
  }
}

.userAllEachContentsButtons {
  & > button {
    width: 48px;
    font-size: 12px;

    &:first-child {
      margin-right: 8px;
    }
  }
}

.userContentsPlainEachContentBlinder {
  height: 150px;
  overflow: hidden;
  // border: 1px solid $back-color-main;
  // background-color: $blur-color;
  filter: blur(0.7px);
  padding: 12px 20px;
  width: calc(293px * 3);
}

.categoryAllPostButton {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  cursor: pointer;

  svg {
    margin: 0px 8px;
  }

  &:hover {
    color: $font-color-main;
  }
}

.contentsSection {
  display: flex;
  flex-direction: column;
}
